@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('/public/assets/images/moon-space.webp');
  @apply font-serif bg-cover bg-center bg-no-repeat bg-fixed;
}

.event-card{
  background: rgba(98, 98, 98, 0.25);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.moonstone-section{
  background: rgba( 65, 64, 64, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.credits-card{
  background: rgba( 65, 64, 64, 0.65 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}